body{
    width: 100vw;
    height: 100vh;

    margin: 0;

    background-color: #1a1a1a;

    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.main{
    padding: 15px;
}

.main > *{
    padding: 15px;
}

.main :is(h1,h2){
    margin: 0;
}

.nav{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.nav .branding img{
    max-width: 250px;
    vertical-align: baseline;
}

.nav .branding span{
    font-size: 36px;
}

.nav .search{
    background: #fff;
    display: flex;
    justify-content: space-between;

    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.nav .search > * {
    padding: 0;
}

.nav .search input[type="text"]{
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 100%;
}

.nav .search button{
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 18px;
}

.content > * {
    padding: 15px;
}

#discover-container{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    gap: 15px;
}

#discover-container > * {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

#discover-container > *:hover {
    transition: 0.3s ease;
    box-shadow: 0 0 10px 1px #b8090c;
}

#poster-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#poster-container > * {
    width: 100%;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

#poster-container > *:hover {
    transform: scale(1.01);
    transition: 0.3s ease;
    box-shadow: 0 0 10px 1px #b8090c;
}

#video-container > * {
    border: none;
    outline: none;
}

.overlay{
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    /* background-color: rgba(184, 9, 12, 0.8); */
    background-color: rgba(26, 26, 26, 0.97);
    z-index: 10;
}

.overlay * h1{
    font-size: 24px;
}

.overlay * p{
    color: #ccc;
}

.hide{
    display: none;
}